# All client-side env vars must start with REACT_APP_ https://wasp.sh/docs/project/env-vars

# See https://docs.opensaas.sh/guides/analytics/#google-analytics
REACT_APP_GOOGLE_ANALYTICS_ID=G-...
